/* .content{
    display: flex; 
    flex-direction: column;
    align-items: center;
} */

body{
    text-align: center;
}

.card {
    width: 350px;
}

.projects {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about {
    margin-top: 120px;
}
